<br><br>

<h3>For Sale: add a listing</h3>
          <!-- the POST -->
<div>
  <input type="text" ng-model="vm.newSale.city" placeholder="City"></input>
  <input type="text" ng-model="vm.newSale.sqft" placeholder="sqft"></input>
  <input type="number" ng-model="vm.newSale.cost" placeholder="cost"></input>
  <input type="text" ng-model="vm.newSale.type" placeholder="sale"></input>
  <button ng-click="vm.addSale(vm.newSale)">ADD SALE</button>
</div>

<br>

          <!-- the GET -->
  <h3>For Sale Listings</h3>
<div ng-repeat="sale in vm.sale.list" class="sale">
  <table>
    <thead>
      <tr>
        <th>CITY</th>
        <th>SQFT</th>
        <th>COST</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{sale.city}}</td>
        <td>{{sale.sqft}}</td>
        <td>{{sale.cost}}</td>
      </tr>
    </tbody>
  </table>
</div>